// Used for headers, hovers/actives
$main-color: #FFC600;

// Used for buttons, shadows
$second-color: #555F02;

// Used for body texts
$body-color: #FAFFFE;

// Main background color
$main-bg: #1E140E;

// Secondary background color
$second-bg: #262725;