/* Home page styles */

/* Header styles */

.home-header {
    background: url(../assets/home-image-1.jpg);
}

.header-container .wrapper {
    display: flex;
    flex-direction: row;

    .home-image {
        padding-right: 50px;
    }
}

.home-image, .home-title {
    position: relative;
    left: -13%;
    bottom: -200px;
}

.home-title {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
}

/* Section one styles */

.adventure {
    padding: 10% 0 6% 0;
}

.container {
    display: flex;
    justify-content: space-between;
    
    .text-container {
        width: 70%;
    }

    .img-container {
        margin-left: 25px;

        .adventure-shadow {
            box-shadow: $second-color -20px 20px 0;
        }
    }
}

/* Section two styles */

section.gallery {
    background-color: $second-bg;
    padding: 6% 0;

    .wrapper {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}

.gallery .wrapper img {
    width: calc(100% / 3 - 30px);
}

/* Section three styles */

.second-menu {
    padding: 6% 0 10% 0;

    h4 {
        @include header-font(2.7rem, 58px, 4.3px);
    }

    i {
        background-color: $second-color;
        color: $body-color;
        font-size: 2.0rem;
        border-radius: 50%;
        margin-right: 20px;

        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .second-container {
        width: 100%;

        p {
            padding: 0;
        }
    }

    ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        li {
            display: flex;
            width: 50%;
            padding: 30px;
        }
    }

    .second-icons {
        position: relative;
    }    
}

/* Section four styles */

.group-programs {
    background-color: $second-bg;
    padding-top: 6%;
}

.left-container {
    width: 40%;
}

.left-img {
    width: 55%;
    position: relative;
    top: -145px;
    left: -13%;
}

.group-shadow {
    box-shadow: $main-color 20px 20px 0;
}

/* Section five styles */

.new-locations {
    background-color: $second-bg;
    padding: 0;
}

.location-shadow {
    box-shadow: $main-color -20px 20px 0;
}

.location-text {
    padding: 70px 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.right-container {
    width: 40%;
}

.right-img {
    width: 55%;
    position: relative;
    bottom: -60px;
    left: 12.55%;
}

.banner-image {
    background: url(../assets/banner-image.jpg);
    background-size: cover;
    height: 600px;
}

/* Section six styles */

.free-trials {
    padding: 10% 0;

    .wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
