@import 'setup';
@import 'color-palette';
@import 'typography';
@import 'mixins';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $main-bg;
}

h1, h3, h4 {
    font-family: $main-font;
    color: $main-color;
}

h2, p, a {
    font-family: $second-font;
    color: $body-color;
}

p {
    font-size: 2.0rem;
    line-height: 32px;
    letter-spacing: 2px;
    padding: 20px 0 40px 0;
}

img {
    display: block;
    width: 100%;
}

header {
    background: url(../assets/home-image-1.jpg);
    background-size: cover;
    height: 100vh;
}

// Wrapper styles

.wrapper {
    max-width: 1920px;
    width: 80%;
    margin: 0 auto;

    position: relative;

    border: 1px solid red;
}

.nav-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header-container {
    position: absolute;
    top: 380px;
    left: 600px;
}

h1 {
    @include header-font(11.5rem, none, none);
    margin-top: -30px;
}

h2 {
    font-size: 5.0rem;
    letter-spacing: 10px;
}

h3 {
    @include header-font(4.5rem, 58px, 4.89px);
}

p.logo {
    font-family: $main-font;
    color: $main-color;
    font-size: 4.15rem;
}

ul.main-menu {
    display: flex;

    li {
        list-style: none;
        margin-right: 50px;
    }

    a {
        @include nav-font(2.0rem, 29px, 1px);

        &:hover {
            color: $main-color;
        }
    }
}

.home-image {
    position: absolute;
    top: 460px;
}

// Section one styles

.adventure {
    padding: 15% 0 6% 0;
}

.adventure-shadow {
    box-shadow: $second-color -20px 20px 0;
}

.container {
    display: flex;
    justify-content: space-between;
}

.text-container {
    width: 70%;
}

.read-more {
    @include nav-font(2.0rem, none, none);

    display: inline-block;
    background-color: $second-color;
    color: $body-color;
    font-family: $main-font;
    text-decoration: none;
    text-transform: capitalize;

    padding: 10px 20px;

    &:hover {
        background-color: $body-color;
        color: $main-color;
    }
}

// Section two styles

section.gallery {
    background-color: $second-bg;
    padding: 6% 0;

    .wrapper {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}

.gallery .wrapper img {
    width: calc(100% / 3 - 30px);
}

// Section three styles

.second-menu {
    padding: 6% 0 10% 0;

    .wrapper {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;

        .second-container {
            width: 40%;
            padding-bottom: 20px;
        }
    }
}

h4 {
    @include header-font(4.0rem, 58px, 4.3px);
}

.wrapper i {
    background-color: $second-color;
    color: $body-color;
    font-size: 2.0rem;
    border-radius: 50%;
    margin: -15px 0 0 -15px;

    position: absolute;
    top: 10px;
    left: -70px;
}

.offers {
    position: relative;

    i {
        padding: 15px 14px;
    }
}

.community {
    position: relative;

    i {
        padding: 15px 12px;
    }
}

.blog {
    position: relative;

    i {
        padding: 15px 20px;
    }
}

.touch {
    position: relative;

    i {
        padding: 15px 16px;
    }
}

// Section four styles

.group-programs {
    background-color: $second-bg;
    padding-top: 6%;
}

.left-container {
    width: 40%;
}

.left-img {
    width: 50%;
    position: relative;
    top: -145px;
}

.group-shadow {
    box-shadow: $main-color 20px 20px 0;
}

.group-text {
    margin: 0 10% 0 15%;
}

// Section five styles

.new-locations {
    background-color: $second-bg;
    margin: -5% 0 0 0;
    padding: 0;
}

.location-shadow {
    box-shadow: $main-color -20px 20px 0;
}

.location-text {
    margin: 0 15% 0 10%;
    padding-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.right-container {
    width: 40%;
}

.right-img {
    width: 50%;
    position: relative;
    bottom: -60px;
}

section.banner-image {
    background: url(../assets/banner-image.jpg);
    background-size: cover;
    height: 600px;
}

// Section six styles

section.free-trials {
    padding: 10% 0;

    .wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

// Footer styles

footer {
    background-color: $second-bg;

    .wrapper {
        display: flex;
        justify-content: center;
        align-items: center;

        .copyright {
            padding: 10px 0;
            text-align: center;
        }
    }
}