@charset "UTF-8";
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #1E140E;
}

h1, h3, h4 {
  font-family: "Dokdo", cursive;
  color: #FFC600;
}

h2, p, a {
  font-family: "Lato", sans-serif;
  color: #FAFFFE;
}

p {
  font-size: 1.4rem;
  line-height: 32px;
  letter-spacing: 2px;
  padding: 20px 0 40px 0;
}

img {
  display: block;
  width: 100%;
}

.wrapper {
  max-width: 1920px;
  width: 80%;
  margin: 0 auto;
  position: relative;
  border: 1px solid red;
}

.nav-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

h1 {
  font-size: 9.5rem;
  line-height: none;
  letter-spacing: none;
  margin: 0 0 20px 0;
}

h2 {
  font-size: 3.4rem;
  letter-spacing: 10px;
}

h3 {
  font-size: 3rem;
  line-height: 58px;
  letter-spacing: 4.89px;
}

p.logo {
  font-family: "Dokdo", cursive;
  color: #FFC600;
  font-size: 4.15rem;
}

ul.main-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

ul.main-menu li {
  list-style: none;
  margin-right: 50px;
}

ul.main-menu a {
  font-size: 1.4rem;
  line-height: 29px;
  letter-spacing: 1px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
}

ul.main-menu a:hover {
  color: #FFC600;
  -webkit-transition: all .3s ease-in;
  transition: all .3s ease-in;
}

label, input[type="checkbox"] {
  display: none;
}

.read-more {
  font-size: 2rem;
  line-height: none;
  letter-spacing: none;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  background-color: #555F02;
  color: #FAFFFE;
  font-family: "Dokdo", cursive;
  text-decoration: none;
  text-transform: capitalize;
  padding: 10px 20px;
}

.read-more:hover {
  background-color: #FFC600;
  color: #262725;
  -webkit-transition: all .3s ease-in;
  transition: all .3s ease-in;
}

form {
  font-size: 1.4rem;
}

input {
  border: none;
}

input::-webkit-input-placeholder {
  line-height: 32px;
  letter-spacing: 2px;
}

input:-ms-input-placeholder {
  line-height: 32px;
  letter-spacing: 2px;
}

input::-ms-input-placeholder {
  line-height: 32px;
  letter-spacing: 2px;
}

input::placeholder {
  line-height: 32px;
  letter-spacing: 2px;
}

fieldset {
  border: none;
}

textarea {
  border: none;
}

footer {
  background-color: #262725;
}

footer .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .wrapper .copyright {
  padding: 10px 0;
  text-align: center;
}

.home-image {
  position: absolute;
  top: 460px;
}

.home {
  background: url(../assets/home-image-1.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.header-container .wrapper {
  height: 65vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.header-container .wrapper h1, .header-container .wrapper h2 {
  padding-left: 550px;
}

.adventure {
  padding: 15% 0 6% 0;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container .text-container {
  width: 70%;
}

.container .img-container {
  margin-left: 25px;
}

.container .img-container .adventure-shadow {
  -webkit-box-shadow: #555F02 -20px 20px 0;
          box-shadow: #555F02 -20px 20px 0;
}

section.gallery {
  background-color: #262725;
  padding: 6% 0;
}

section.gallery .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.gallery .wrapper img {
  width: calc(100% / 3 - 30px);
}

.second-menu {
  padding: 6% 0 10% 0;
}

.second-menu .wrapper .second-container {
  width: 100%;
}

.second-menu .wrapper .second-container p {
  padding: 0;
}

.second-menu .wrapper ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.second-menu .wrapper ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  padding: 30px;
}

h4 {
  font-size: 2.7rem;
  line-height: 58px;
  letter-spacing: 4.3px;
}

.second-menu i {
  background-color: #555F02;
  color: #FAFFFE;
  font-size: 2.0rem;
  border-radius: 50%;
  margin-right: 20px;
  top: 10px;
}

.offers {
  position: relative;
}

.offers i {
  padding: 15px 14px;
}

.community {
  position: relative;
}

.community i {
  padding: 15px 12px;
}

.blog {
  position: relative;
}

.blog i {
  padding: 15px 20px;
}

.touch {
  position: relative;
}

.touch i {
  padding: 15px 16px;
}

.group-programs {
  background-color: #262725;
  padding-top: 6%;
}

.left-container {
  width: 40%;
}

.left-img {
  width: 50%;
  position: relative;
  top: -145px;
}

.group-shadow {
  -webkit-box-shadow: #FFC600 20px 20px 0;
          box-shadow: #FFC600 20px 20px 0;
}

.group-text {
  margin: 0 10% 0 15%;
}

.new-locations {
  background-color: #262725;
  margin: -5% 0 0 0;
  padding: 0;
}

.location-shadow {
  -webkit-box-shadow: #FFC600 -20px 20px 0;
          box-shadow: #FFC600 -20px 20px 0;
}

.location-text {
  margin: 0 15% 0 10%;
  padding-top: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.right-container {
  width: 40%;
}

.right-img {
  width: 50%;
  position: relative;
  bottom: -60px;
}

section.banner-image {
  background: url(../assets/banner-image.jpg);
  background-size: cover;
  height: 600px;
}

section.free-trials {
  padding: 10% 0;
}

section.free-trials .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.blog-header {
  background: url(../assets/blog-image-1.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
}

main {
  position: relative;
}

main p {
  padding: 0 0 30px 0;
}

.left-side {
  position: relative;
  top: -150px;
}

.left-side .blog-texts {
  width: 68.2%;
  padding: 50px 80px 0 0;
  -webkit-box-shadow: #555F02 10px 0;
          box-shadow: #555F02 10px 0;
  border-bottom: 10px solid #555F02;
}

.left-side .blog-texts h3 {
  font-size: 3.0rem;
}

.left-side .blog-texts .comment-date {
  color: #FAFFFE;
  font-style: italic;
}

.left-side img {
  width: 80%;
  -webkit-box-shadow: #555F02 20px 20px 0;
          box-shadow: #555F02 20px 20px 0;
  position: relative;
  left: -12.5%;
}

aside {
  background-color: #555F02;
  width: 25%;
  position: absolute;
  top: 150px;
  right: 0;
}

.mission-posts .right-side {
  padding-left: 20px;
  margin-bottom: 30px;
}

.mission-posts .right-side h5 {
  font-size: 2rem;
  line-height: none;
  letter-spacing: none;
  font-family: "Dokdo", cursive;
  color: #FAFFFE;
}

.mission-posts .right-side p {
  color: #FAFFFE;
  padding-right: 30px;
}

.mission-posts .right-side li {
  font-size: 1.4rem;
  font-family: "Lato", sans-serif;
  color: #FAFFFE;
  list-style: none;
}

.mission-posts .right-side li:before {
  content: "• ";
  color: #FFC600;
}

.comment-wrapper {
  margin-bottom: 100px;
}

.comment-wrapper h4 {
  font-size: 2rem;
  line-height: none;
  letter-spacing: none;
  color: #FAFFFE;
  margin-bottom: 30px;
}

.comment-wrapper .comment-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 80px;
}

.comment-wrapper fieldset {
  padding: 0;
}

.comment-container {
  width: 68.2%;
}

.comment-text {
  width: 80%;
  padding-left: 30px;
}

.comment-text .comment-date {
  color: #FFC600;
  font-weight: bold;
  padding-bottom: 5px;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
}

.form input {
  color: #FAFFFE;
  background-color: #1E140E;
  border-bottom: 2px solid #FFC600;
  font-family: "Lato", sans-serif;
  padding: 20px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.form input[type=email] {
  margin-left: 15px;
}

textarea {
  color: #FAFFFE;
  background-color: #1E140E;
  border: 2px solid #FFC600;
  font-family: "Lato", sans-serif;
  resize: none;
  padding: 20px;
  width: 100%;
  height: 250px;
  margin-bottom: 40px;
}

button {
  background-color: #555F02;
  color: #FAFFFE;
  font-family: "Dokdo", cursive;
  font-size: 1.5rem;
  border: none;
  padding: 5px 0;
  width: 100%;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  overflow: hidden;
}

.contact-header {
  background: url(../assets/contact-image-1.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.header-wrapper .wrapper {
  height: 75vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.header-wrapper .wrapper h1 {
  padding-left: 50px;
}

.contact-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  top: -150px;
}

.contact-form {
  width: 70%;
}

.contact-form form {
  background-color: #262725;
  -webkit-box-shadow: #FFC600 20px 20px 0;
          box-shadow: #FFC600 20px 20px 0;
  padding: 50px;
}

.contact-form form input {
  background-color: #262725;
}

.contact-form form textarea {
  background-color: #262725;
  height: 300px;
}

.contact-side {
  position: relative;
  top: 100px;
}

.contact-side .contact-info {
  width: 65%;
  margin-bottom: 20px;
}

.contact-side p {
  padding-bottom: 0;
}

.social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.social-media li {
  list-style: none;
}

.social-media i {
  color: #FFC600;
}

@media (max-width: 1366px) {
  .contact-form {
    width: 100%;
  }
  .contact-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact-side {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  .contact-side .contact-info {
    width: 22%;
  }
}

/* Media styles for tablets & mobile */
@media (max-width: 1024px) {
  .menu-sliding {
    background-color: #000;
    position: fixed;
    z-index: 1;
    right: -100%;
    top: 50px;
    width: 100%;
    height: auto;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  .menu-sliding li a {
    color: #FFF;
    display: inline-block;
    font-size: 2.0rem;
    width: 100%;
    padding: 10px 0;
  }
  .menu-sliding li a:hover {
    display: inline-block;
    border-radius: 0;
    background-color: #BA0621;
    padding: 10px 0;
  }
  label {
    padding: 15px;
  }
  label, input {
    display: block;
  }
  label i {
    font-size: 3.0rem;
  }
  input[type="checkbox"]:checked + .menu-sliding {
    right: 0;
  }
  input[type="checkbox"] {
    display: none;
  }
  label[for="toggle"] {
    color: #FFF;
    position: fixed;
    top: 0px;
    right: 0px;
    z-index: 1;
  }
  .home-image {
    display: none;
  }
  .header-container .wrapper h1, .header-container .wrapper h2 {
    padding-left: 0px;
  }
  .adventure {
    padding: 6% 0;
  }
  .second-menu {
    padding: 6% 0;
  }
  .second-menu .wrapper ul {
    display: inline;
  }
  .second-menu .wrapper ul li {
    width: 100%;
  }
  .second-menu h4 {
    line-height: 48px;
  }
  .free-trials p {
    text-align: center;
  }
  .left-side .blog-texts {
    width: 100%;
    -webkit-box-shadow: none;
            box-shadow: none;
    padding: 50px 0 0 0;
  }
  .left-side img {
    width: 100%;
  }
  .mission-posts {
    display: none;
  }
  .comment-text {
    width: 90%;
  }
  .comment-container {
    width: 100%;
  }
  .contact-form {
    width: 100%;
  }
}

@media (max-width: 924px) {
  .contact-form form {
    display: inline-block;
  }
}

@media (max-width: 768px) {
  .form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .form input[type=email] {
    margin-left: 0;
  }
  .contact-side {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact-side .contact-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contact-side .address {
    text-align: center;
  }
}

@media (max-width: 545px) {
  form {
    font-size: 1.0rem;
  }
  .contact-form form {
    padding: 10px;
  }
}

@media (max-width: 330px) {
  .contact-form form {
    padding: 5px;
  }
}
